<div class="background">
    <h2>Background</h2>
                <ul>
                    <li>
                        PhD, The University of British Columbia, Computer Science
                        <span class=date>(2019–present)</span>
                    </li>
                    <li>
                        Master, The University of British Columbia, Computer Science 
                        <span class=date>(2017–2019)</span>
                    </li>
                    <li>
                        BA, University of Toronto, Mathematics and Computer Science 
                        <span class=date>(2013–2017)</span>
                    </li>
                </ul>
  </div>
  